<p>Dear <b>{{firstName}} {{lastName}}</b>, <br /> <br />
	Your order has been confirmed, you can come pick it up on {{pickupDate}} between 9 am and 6 pm. <br /><br />
	Regards,<br/><br />
	SOAJS Team.
</p>