<p>Dear <b>{{firstName}} {{lastName}}</b>, <br /> <br />
	Your order has been rejected by the administrator. <br />
	You can contact us by email or by phone for clarification. <br /> <br />
	Regards,<br/><br />
	SOAJS Team.
</p>